--
-- PostgreSQL database dump
--


-- Dumped from database version 17.0
-- Dumped by pg_dump version 18.3
--
-- Name: author; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.author (
    id_author integer NOT NULL,
    name character varying(50),
    last_name character varying(50),
    age integer,
    email character varying(50),
    phone character varying(15),
    fecha_nacimiento date,
    username character varying,
    password character varying
);


--
-- Name: author_id_author_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.author_id_author_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: author_id_author_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.author_id_author_seq OWNED BY public.author.id_author;


--
-- Name: post; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.post (
    id_post integer NOT NULL,
    title text,
    date timestamp without time zone,
    img text,
    id_author integer
);


--
-- Name: post_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.post_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: post_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.post_id_seq OWNED BY public.post.id_post;


--
-- Name: session; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.session (
    sid character varying NOT NULL,
    sess json NOT NULL,
    expire timestamp(6) without time zone NOT NULL
);


--
-- Name: author id_author; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.author ALTER COLUMN id_author SET DEFAULT nextval('public.author_id_author_seq'::regclass);


--
-- Name: post id_post; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.post ALTER COLUMN id_post SET DEFAULT nextval('public.post_id_seq'::regclass);


--
-- Data for Name: author; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.author VALUES (3, 'CC', 'CC', 23, 'cc@gmail.com', '+52 4587985654', '2003-05-30', 'CC', '123');
INSERT INTO public.author VALUES (4, 'Skai', 'S', 13, 'skai@gmail.com', '+45 4587452154', '2013-06-02', 'Skai', '123');
INSERT INTO public.author VALUES (5, 'H├ímster', 'G', 30, 'hamsterg@gmail.com', '+75 4521025412', '1996-04-02', 'Hamster', '123');


--
-- Data for Name: post; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.post VALUES (1, 'Un perrito', '2026-02-26 00:00:00', './src/assets/perro1.jpg', 3);
INSERT INTO public.post VALUES (2, 'Un conejo', '2026-02-26 00:00:00', './src/assets/bunny.jpg', 4);
INSERT INTO public.post VALUES (3, 'Un hamster', '2026-02-26 00:00:00', './src/assets/hamster.jpg', 5);


--
-- Data for Name: session; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: author_id_author_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.author_id_author_seq', 6, true);


--
-- Name: post_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.post_id_seq', 19, true);


--
-- Name: author author_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.author
    ADD CONSTRAINT author_pkey PRIMARY KEY (id_author);


--
-- Name: post post_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.post
    ADD CONSTRAINT post_pkey PRIMARY KEY (id_post);


--
-- Name: session session_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.session
    ADD CONSTRAINT session_pkey PRIMARY KEY (sid);


--
-- Name: IDX_session_expire; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_session_expire" ON public.session USING btree (expire);


--
-- Name: post id_author; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.post
    ADD CONSTRAINT id_author FOREIGN KEY (id_author) REFERENCES public.author(id_author) NOT VALID;


--
-- PostgreSQL database dump complete
--